<div class="header">
    <h3>FIELD ALLOCATION</h3>
</div> 


<div class="p-4">
    <mat-card>
        <div class="row">
            <mat-form-field class="col-4" style="width: auto;">
                <mat-label>Name</mat-label>
                <input matInput (keyup)="applyFilter($event)" #input>
            </mat-form-field>

            <mat-form-field class="col-4" style="width: auto;">
                <mat-label>Mobile Number</mat-label>
                <input matInput (keyup)="applyFilter($event)" #mobile>
            </mat-form-field>

            <mat-form-field class="col-4" style="width: auto;">
                <mat-label>EID</mat-label>
                <input matInput (keyup)="applyFilter($event)" mask="000-0000-0000000-0" #eid>
            </mat-form-field>
 
            <mat-form-field class="col-4" style="width: auto;">
                <mat-label> Request/Case Type </mat-label>
                <mat-select (selectionChange)="select($event)" #crm>
                    <mat-option *ngFor="let value of requestarray" [value]="value.requestCRMId">
                        {{value.requestCRMName}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="col-4" style="width: auto;">
                <mat-label>CRM No</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #crmno>
            </mat-form-field>

            <mat-form-field class="col-4" style="width: auto;">
                <mat-label>Area</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #area>
            </mat-form-field>


            <mat-form-field class="col-4" style="width: auto;">
                <mat-label>Region</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #region>
            </mat-form-field>

            <div class="col-3" style="width: auto;">
                <button mat-raised-button class="mt-2" style="background: #f9a610; color: white;"
                    (click)="clear(input, mobile,eid,crm,crmno,area, region)">Clear</button>
            </div>
        </div>

        <div class="row">
            <mat-form-field class="col-3" style="width: auto;" appearance="outline">
                <mat-label>Schedule From Date</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="fromdate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="col-3" style="width: auto;" appearance="outline">
                <mat-label>Schedule To Date</mat-label>
                <input matInput [matDatepicker]="tpicker" [(ngModel)]="todate">
                <mat-datepicker-toggle matSuffix [for]="tpicker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #tpicker></mat-datepicker>
            </mat-form-field>

            <div class="col-3">
                <mat-form-field style="width: 30;" appearance="outline">
                    <mat-label>Service</mat-label>
                    <mat-select #service>
                        <mat-option value="all">All</mat-option>
                        <!-- <mat-option value="tracker">Tracker Application</mat-option> -->
                        <!-- <mat-option value="sticker"> Sticker Application</mat-option> -->
                        <mat-option value="four"> 4 day PCR</mat-option>
                        <mat-option value="eight"> 8 day PCR</mat-option>
                        <!-- <mat-option value="dischaege"> Discharge</mat-option> -->
                    </mat-select>
                </mat-form-field>
            </div>
            
            <div class="col-3">
                <button mat-raised-button class="mt-2" style="background: #167f72; color: white;"
                    (click)="getPatent(service)">Search</button>
            </div>
 
        </div>

        <form #a="ngForm" >
        <table mat-table [dataSource]="dataSource" class="mb-3">

            <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element; let i = index;"> {{element.id}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="crmtype">
                <th mat-header-cell *matHeaderCellDef> Request/Case Type </th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.crmtype}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="crmno">
                <th mat-header-cell *matHeaderCellDef> CRM Number </th>
                <td mat-cell *matCellDef="let element"> {{element.crmNo}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="eid">
                <th mat-header-cell *matHeaderCellDef> EID </th>
                <td mat-cell *matCellDef="let element"> {{element.eidNo}} </td>
            </ng-container>

            <ng-container matColumnDef="mobile">
                <th mat-header-cell *matHeaderCellDef> Mobile Number </th>
                <td mat-cell *matCellDef="let element"> {{element.mobileNo}} </td>
            </ng-container>

            <ng-container matColumnDef="sdate">
                <th mat-header-cell *matHeaderCellDef> Schedule Date </th>
                <td mat-cell *matCellDef="let element"> 
                    {{element.callScheduledDate | date: 'MM-dd-yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Patient Name </th>
                <td mat-cell *matCellDef="let element"> {{element.patientName}} </td>
            </ng-container>

            <ng-container matColumnDef="view">
                <th mat-header-cell *matHeaderCellDef> View </th>
                <td mat-cell *matCellDef="let element">
                    <img src="https://img.icons8.com/ios-glyphs/30/000000/visible.png" class="cursor"
                    (click)="click(element)" [routerLink]="['/apps/fieldallocation/nurse-outside']" />
                </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Save </th>
                <td mat-cell *matCellDef="let element" class="text-center">
                    <img src="https://img.icons8.com/fluent/48/000000/save.png" (click)="save(element)" />
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background-color: #0bbca6; color: white;">
            </tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data Found</td>
            </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[25, 50,75,100]"></mat-paginator>
    </form>
    </mat-card>
</div>