<div class="header">
    <h3>USER</h3>
</div>


<div class="p-3">
    <form [formGroup]="form">
        <mat-card>
            <div class="row p-3">
                <div class="col-ls-4 col-xl-4 col-md-6 col-sm-12">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>User Type</mat-label>
                        <mat-select formControlName="userType">
                            <mat-option value=2>Admin</mat-option>
                            <mat-option value=3>Doctor</mat-option>
                            <mat-option value=4>Manager</mat-option>
                            <mat-option value=5>Nurse</mat-option>
                            <mat-option value=6>Receptionist</mat-option>
                            <mat-option value=7>Team</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-ls-4 col-xl-4 col-md-6 col-sm-12">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Full Name</mat-label>
                        <input matInput placeholder="Enter Your Full Name" formControlName="name" required>
                    </mat-form-field>
                </div>
                <div class="col-ls-4 col-xl-4 col-md-6 col-sm-12">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>User Name</mat-label>
                        <input matInput formControlName="userName" required>
                    </mat-form-field>
                </div>
                <div class="col-ls-4 col-xl-4 col-md-6 col-sm-12">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="password" required>
                    </mat-form-field>
                </div>
                <div class="col-ls-4 col-xl-4 col-md-5 col-sm-12">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-select placeholder="Area" formControlName="areaList" multiple>
                            <mat-option *ngFor="let topping of data" [value]="topping.key">
                                {{topping.value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="text-center">
                <button mat-raised-button style="background: #167f72;" class="login-button"
                    (click)="submit()">Submit</button>
            </div>

        </mat-card>
    </form>
</div>