<div class="mat-elevation-z6" style="position: fixed; width: 100%;">
    <mat-toolbar style="background-color: #0bbca6; color: white;">
      
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>

        <span> {{title}}</span>

        <div class="example-spacer"> </div>

        <button mat-button class="example-icon" *ngFor="let value of array"
            aria-label="Example icon-button with menu icon" [routerLink]="value.url">
            {{value.name}}
        </button>

        <span class="example-spacer"></span>

        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
            (click)="logout()">
            <mat-icon>power_settings_new</mat-icon>
        </button>

    </mat-toolbar>
</div>

<router-outlet></router-outlet>