<div class="mat-elevation-z6" style="width: 100%;">
    <mat-toolbar style="background-color: #0bbca6; color: white;">

        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>

        <!-- <span> {{title}}</span> -->
        <img src='assets/images/uni.jpg' height="55">
        <span class="ml-5"> {{localvalues.companyName}}</span>

        <div class="example-spacer"> </div>

        <button mat-button class="example-icon" *ngFor="let value of array" aria-label="Example icon-button with menu icon" [routerLink]="value.url">
            {{value.name}}
        </button>

        <span class="example-spacer"></span>

        <button mat-icon-button class="example-icon mr-5" aria-label="Example icon-button with share icon" (click)="logout()">
            {{localvalues.userName}}
            <mat-icon>power_settings_new</mat-icon>
        </button>

    </mat-toolbar>
</div>

<router-outlet></router-outlet>

<div class="footer">
    <div class="content has-text-centered d-flex justify-content-between">
        <h4 class="mb-0">
            Phone-1 : <strong> +971 58 590 1002 </strong>, Phone-2 <strong> +971 58 590 1003 </strong>
        </h4>
        <h4 class="mb-0">
            Mail id : <strong>support@uniquercm.co</strong>
        </h4>
    </div>
</div>