.example-spacer {
    flex: 1 1 auto;
}

.footer {
    background-color: #ddd;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

mat-toolbar {
    z-index: 1000;
    display: flex;
    position: fixed;
    justify-content: space-between;
}
