<div class="header">
    <h3>AREA</h3>
</div>


<div class="p-3 area">
    <mat-card>
        <div class="row p-3">
            <div class="col-ls-4  col-xl-4 col-md-5 col-sm-12" style="width: 30%;">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label> Region </mat-label>
                    <mat-select #crm>
                        <mat-option *ngFor="let value of receptionarray" [value]="value">
                            {{value.cityName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-ls-4  col-xl-4 col-md-5 col-sm-12" style="width: 29%;">
                <div style="width: 400px;">
                    <ng-autocomplete [data]="data" [searchKeyword]="keyword" placeholder="Enter Area" (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                    </ng-autocomplete>

                    <ng-template #itemTemplate let-item>
                        <a [innerHTML]="item.areaName"></a>
                    </ng-template>

                    <ng-template #notFoundTemplate let-notFound>
                        <div [innerHTML]="notFound"></div>
                    </ng-template>
                </div>
            </div>
            <div class="col-ls-4  col-xl-4 col-md-6 col-sm-12 pt-2">
                <button mat-raised-button style="background: #f9a610;" class="login-button" (click)="add(crm)">Add</button>
            </div>
        </div>
    </mat-card>
</div>