<div class="header">
  <h3>NURSE OUTSIDE</h3>
</div>


<div class="p-3">
  
  <mat-card>
    <form [formGroup]="formGroup">
    <div class="row pt-5 pl-5 pr-5">
      <div class="col-lg-4 col-md-2 col-sm-12">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Request/Case Type</mat-label>
          <input matInput   required  formControlName="crmType" readonly>
        </mat-form-field>
      </div>
      <div class="col-lg-4 col-md-2 col-sm-12">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>CRM no</mat-label>
          <input matInput    formControlName="crmNo" required readonly>
        </mat-form-field>
      </div>
      <div class="col-lg-4 col-md-2 col-sm-12">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput  formControlName="name" required readonly>
        </mat-form-field>
      </div>
      <div class="col-lg-4 col-md-2 col-sm-12">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>EID</mat-label>
          <input matInput   formControlName="eid" required readonly>
        </mat-form-field>
      </div>
      <div class="col-lg-4 col-md-2 col-sm-12">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Mobile No</mat-label>
          <input matInput  formControlName="mobileno" required readonly>
        </mat-form-field>
      </div>
    </div>
  </form>

    <mat-horizontal-stepper labelPosition="bottom" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Address Data</ng-template>
          <div class="row">
            <div class="col-lg-4 col-md-2 col-sm-12">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Address</mat-label>
                <textarea matInput formControlName="address" required></textarea>
              </mat-form-field>
            </div>
            <div class="col-lg-4 col-md-2 col-sm-12">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Land Mark</mat-label>
                <input matInput formControlName="landmark" required>
              </mat-form-field>
            </div>
            <div class="col-lg-4 col-md-2 col-sm-12">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Area</mat-label>
                <input matInput formControlName="area" required>
              </mat-form-field>
            </div>
            <div class="col-lg-4 col-md-2 col-sm-12">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Region</mat-label>
                <input matInput formControlName="region" required>
              </mat-form-field>
            </div>
            <div class="col-lg-4 col-md-2 col-sm-12">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Google Map Link</mat-label>
                <input matInput formControlName="map" required>
              </mat-form-field>
            </div>
          </div>
          <div class="text-end">
            <button mat-raised-button class="login-button" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Home Inmates</ng-template>
          <div class="row">
            <div class="col-lg-4 col-md-2 col-sm-12">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>No Of Adults</mat-label>
                <input matInput formControlName="adults" required>
              </mat-form-field>
            </div>
            <div class="col-lg-4 col-md-2 col-sm-12">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>No Of Children</mat-label>
                <input matInput formControlName="childern" required>
              </mat-form-field>
            </div>
          </div>

          <div class="text-end">
            <button mat-raised-button class="warning-button" matStepperPrevious>Back</button>
            <button mat-raised-button class="login-button ml-4" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Service Plan</ng-template>
        <form [formGroup]="thirdFormGroup">
        <div class="row">
          <div class="col-ls-4 col-xl-4 col-md-6 col-sm-12">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Sticker Application</mat-label>
              <mat-select formControlName="stickerapp">
                <mat-option value="yes" >Yes</mat-option>
                <mat-option value="no" > No</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-ls-4 col-xl-4 col-md-6 col-sm-12">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Tracker Application</mat-label>
              <mat-select formControlName="trackerapp">
                <mat-option value="yes" >Yes</mat-option>
                <mat-option value="no" > No</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-ls-4 col-xl-4 col-md-6 col-sm-12">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>PCR</mat-label>
              <mat-select formControlName="pcr">
                <mat-option value="yes" >Yes</mat-option>
                <mat-option value="no" > No</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-ls-4 col-xl-4 col-md-6 col-sm-12">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Sticker Removal</mat-label>
              <mat-select formControlName="stickerrem">
                <mat-option value=1>1</mat-option>
                <mat-option value=2> 2</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-ls-4 col-xl-4 col-md-6 col-sm-12">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Tracker Removal</mat-label>
              <mat-select formControlName="trackerrem">
                <mat-option value=1>1</mat-option>
                <mat-option value=2> 2</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </div>
      </form> 
        <div class="text-end">
          <button mat-raised-button class="warning-button" matStepperPrevious>Back</button>
          <button mat-raised-button class="login-button ml-4">Save</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>

    <div class="p-3 row">
      <div class="col-lg-4 col-md-2 col-sm-12">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Visit Status</mat-label>
          <mat-select>
            <mat-option>Visited</mat-option>
            <mat-option> Pending</mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <div class="col-lg-4 col-md-2 col-sm-12">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Remarks</mat-label>
          <input matInput required>
        </mat-form-field>
      </div>

      <div class="col-lg-4 col-md-2 col-sm-12">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Visited Date</mat-label>
          <input matInput [matDatepicker]="vpicker">
          <mat-datepicker-toggle matSuffix [for]="vpicker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #vpicker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="text-end">
        <button mat-raised-button color="warn" [routerLink]="['/apps/fieldallocation/nurse']"   class="back-button">Back</button>

        <button mat-raised-button class="login-button ml-4">Save</button>
      </div>
    </div>


  </mat-card>

</div>
 