hr {
    height: 2px;
    border: 0;
    background-color: #444;
    line-height: 20px;
    margin-top: 4em;
}

hr:before {
    content: "";
    display: block;
    height: 1px;
    background-color: #111;
}

hr:after {
    content: "OR";
    color: #ccc;
    display: block;
    text-align: center;
    background-color: #222;
    width: 60px;
    margin-top: -10px;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%);
}

.w-30 {
    width: 30%;
}

.login-button-upload {
    margin-left: 2em;
}

.login-button,
.login-button-upload {
    background: #167f72;
    color: #fff;
}
