<div class="header">
    <h3>SCHEDULE</h3>
</div>

<div class="p-4">
    <mat-card>
        <form [formGroup]="formGroup">
            <div class="row pt-5 pl-5 pr-5">
                <div class="col-lg-4 col-md-2 col-sm-12">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name" required readonly>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-2 col-sm-12">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Age</mat-label>
                        <input matInput formControlName="age" required readonly>
                    </mat-form-field>
                </div>
            </div>
        </form>

        <mat-horizontal-stepper labelPosition="bottom" #stepper [linear]="true">
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Initial PCR test</ng-template>
                    <div class="row">
                        <div class="col-lg-4 col-md-2 col-sm-12">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Conducted Date</mat-label>
                                <input matInput [matDatepicker]="picker" #conducteddate formControlName="conducteddate">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-4 col-md-2 col-sm-12">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Result</mat-label>
                                <mat-select formControlName="result" (selectionChange)="radioChange($event, conducteddate.value)">
                                    <mat-option value='positive'>Positive </mat-option>
                                    <mat-option value='negative'> Negative</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-4 col-md-2 col-sm-12 margin-auto">
                            <section class="example-section">
                                <label class="example-margin mr-5">Vaccine Status</label>
                                <mat-radio-group formControlName="vaccinestatus" (change)="radioChange($event, conducteddate.value)">
                                    <mat-radio-button class="example-margin" value="yes">Yes</mat-radio-button>
                                    <mat-radio-button class="example-margin ml-5" value="no">No</mat-radio-button>
                                </mat-radio-group>
                            </section>
                        </div>
                        <div class="col-lg-4 col-md-2 col-sm-12" *ngIf="dischargedate">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Discharge Date</mat-label>
                                <input matInput [matDatepicker]="picker" [disabled]="disablevalue" formControlName="dischargedate">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #picker disabled="true"></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <section class="example-section" *ngIf="check">
                            <mat-radio-group formControlName="quarantine" (change)="showOptions($event)">
                                <mat-radio-button class="example-margin" value="quarantine">Quarantine Duration
                                </mat-radio-button>
                                <mat-radio-button class="example-margin ml-5" value="isolation">Isolation Duration
                                </mat-radio-button>
                            </mat-radio-group>
                        </section>
                    </div>
                    <div class="text-end">
                        <button mat-raised-button class="login-button" id="next-btn" matStepperNext *ngIf="check || (!isHQP)"> Next</button>
                        <button mat-raised-button class="login-button" matStepperNext *ngIf="(!check) && (isHQP)" (click)="fsave(conducteddate)">Save </button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="hqpFormGroup" *ngIf="hqpdisabled">
                <form [formGroup]="hqpFormGroup">
                    <ng-template matStepLabel>Home Quarantine Duration</ng-template>
                    <div class="row">
                        <div class="col-lg-4 col-md-2 col-sm-12">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Start Date</mat-label>
                                <input matInput [matDatepicker]="startpicker" formControlName="hqpstartdate" #stdate (dateInput)="updatehqpdate($event, startpicker)">
                                <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #startpicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-4 col-md-2 col-sm-12">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>End Date</mat-label>
                                <input matInput [matDatepicker]="endpicker" readonly formControlName="hqpenddate">
                                <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #endpicker disabled="true"></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-2 col-sm-12">
                            <mat-card class="quar">
                                <mat-card-header>
                                    Dr Call
                                </mat-card-header>
                                <div class="p-4">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Schedule Date</mat-label>
                                        <input matInput [matDatepicker]="drpicker" [disabled]="disablevalue" formControlName="hqpdrpicker">
                                        <mat-datepicker-toggle matSuffix [for]="drpicker"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #drpicker disabled="true"></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Called Date</mat-label>
                                        <input matInput [matDatepicker]="drspicker" [disabled]="disablevalue" formControlName="hqpdrspicker">
                                        <mat-datepicker-toggle matSuffix [for]="drspicker"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #drspicker disabled="true"></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </mat-card>
                        </div>

                        <div class="col-lg-4 col-md-2 col-sm-12">
                            <mat-card class="quar">
                                <mat-card-header>
                                    Tracker/Sticker Application
                                </mat-card-header>
                                <div class="p-4">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Schedule Date</mat-label>
                                        <input matInput [matDatepicker]="fourpicker" [disabled]="disablevalue" formControlName="hqpfourpicker" #fordate>
                                        <mat-datepicker-toggle matSuffix [for]="fourpicker"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #fourpicker disabled="true"></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Applied Date</mat-label>
                                        <input matInput [matDatepicker]="fourspicker" [disabled]="disablevalue" formControlName="hqpfourspicker">
                                        <mat-datepicker-toggle matSuffix [for]="fourspicker"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #fourspicker disabled="true"></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Result</mat-label>
                                        <mat-select formControlName="hqpfourresult" [disabled]="disablevalue">
                                            <mat-option value='positive'>Positive </mat-option>
                                            <mat-option value='negative'> Negative</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                </div>
                            </mat-card>
                        </div>

                        <div class="col-lg-4 col-md-2 col-sm-12">
                            <mat-card class="quar">
                                <mat-card-header>
                                    <span *ngIf="firstFormGroup.controls['vaccinestatus'].value=='yes'">6 day PCR </span>
                                    <span *ngIf="firstFormGroup.controls['vaccinestatus'].value=='no'">11 day PCR </span>
                                </mat-card-header>

                                <div class="p-4">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Schedule Date</mat-label>
                                        <input matInput [matDatepicker]="eightpicker" [disabled]="disablevalue" #etdate formControlName="hqpeightpicker">
                                        <mat-datepicker-toggle matSuffix [for]="eightpicker"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #eightpicker disabled="true"></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Sampled Date</mat-label>
                                        <input matInput [matDatepicker]="eightspicker" [disabled]="disablevalue" formControlName="hqpeightspicker">
                                        <mat-datepicker-toggle matSuffix [for]="eightspicker"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #eightspicker disabled="true"></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Result</mat-label>
                                        <mat-select formControlName="hqpeightresult" [disabled]="disablevalue">
                                            <mat-option value='positive'>Positive </mat-option>
                                            <mat-option value='negative'> Negative</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </mat-card>
                        </div>

                        <div class="col-lg-4 col-md-2 col-sm-12">
                            <mat-card class="quar">
                                <mat-card-header>
                                    Discharge
                                </mat-card-header>
                                <div class="p-4">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Discharge Date</mat-label>
                                        <input matInput [matDatepicker]="dispicker" [disabled]="disablevalue" #dgdate formControlName="hqpdischargepicker">
                                        <mat-datepicker-toggle matSuffix [for]="dispicker"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #dispicker disabled="true"></mat-datepicker>
                                    </mat-form-field>


                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Status</mat-label>
                                        <mat-select formControlName="hqpdischargespicker" [disabled]="disablevalue">
                                            <mat-option value='pending'>Pending </mat-option>
                                            <mat-option value='discharged'> Discharged </mat-option>
                                            <mat-option value='other'> Other </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Remarks</mat-label>
                                        <textarea matInput readonly formControlName="hqpdischargerpicker" readonly></textarea>
                                    </mat-form-field>

                                </div>
                            </mat-card>
                        </div>
                    </div>

                    <div class="text-end">
                        <button mat-raised-button class="warning-button" matStepperPrevious>Back</button>
                        <button mat-raised-button class="login-button ml-4" (click)="savehqp(stdate, fordate,etdate,dgdate)">Save</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" *ngIf="!discharge">
                <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Quarantine Duration</ng-template>
                    <div class="row">
                        <div class="col-lg-4 col-md-2 col-sm-12">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Start Date</mat-label>
                                <input matInput [matDatepicker]="startpicker" formControlName="startdate" #stdate (dateInput)="updatedate($event, startpicker)">
                                <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #startpicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-4 col-md-2 col-sm-12">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>End Date</mat-label>
                                <input matInput [matDatepicker]="endpicker" readonly formControlName="enddate">
                                <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #endpicker disabled="true"></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-2 col-sm-12">
                            <mat-card class="quar">
                                <mat-card-header>
                                    Dr Call
                                </mat-card-header>
                                <div class="p-4">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Schedule Date</mat-label>
                                        <input matInput [matDatepicker]="drpicker" [disabled]="disablevalue" formControlName="drpicker">
                                        <mat-datepicker-toggle matSuffix [for]="drpicker"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #drpicker disabled="true"></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Called Date</mat-label>
                                        <input matInput [matDatepicker]="drspicker" [disabled]="disablevalue" formControlName="drspicker">
                                        <mat-datepicker-toggle matSuffix [for]="drspicker"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #drspicker disabled="true"></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </mat-card>
                        </div>

                        <div class="col-lg-4 col-md-2 col-sm-12">
                            <mat-card class="quar">
                                <mat-card-header>
                                    Tracker/Sticker Application
                                </mat-card-header>
                                <div class="p-4">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Schedule Date</mat-label>
                                        <input matInput [matDatepicker]="fourpicker" [disabled]="disablevalue" formControlName="fourpicker" #fordate>
                                        <mat-datepicker-toggle matSuffix [for]="fourpicker"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #fourpicker disabled="true"></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Applied Date</mat-label>
                                        <input matInput [matDatepicker]="fourspicker" [disabled]="disablevalue" formControlName="fourspicker">
                                        <mat-datepicker-toggle matSuffix [for]="fourspicker"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #fourspicker disabled="true"></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Result</mat-label>
                                        <mat-select formControlName="fourresult" [disabled]="disablevalue">
                                            <mat-option value='positive'>Positive </mat-option>
                                            <mat-option value='negative'> Negative</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                </div>
                            </mat-card>
                        </div>

                        <div class="col-lg-4 col-md-2 col-sm-12">
                            <mat-card class="quar">
                                <mat-card-header>
                                    8 day PCR
                                </mat-card-header>
                                <div class="p-4">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Schedule Date</mat-label>
                                        <input matInput [matDatepicker]="eightpicker" [disabled]="disablevalue" #etdate formControlName="eightpicker">
                                        <mat-datepicker-toggle matSuffix [for]="eightpicker"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #eightpicker disabled="true"></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Sampled Date</mat-label>
                                        <input matInput [matDatepicker]="eightspicker" [disabled]="disablevalue" formControlName="eightspicker">
                                        <mat-datepicker-toggle matSuffix [for]="eightspicker"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #eightspicker disabled="true"></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Result</mat-label>
                                        <mat-select formControlName="eightresult" [disabled]="disablevalue">
                                            <mat-option value='positive'>Positive </mat-option>
                                            <mat-option value='negative'> Negative</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </mat-card>
                        </div>

                        <div class="col-lg-4 col-md-2 col-sm-12">
                            <mat-card class="quar">
                                <mat-card-header>
                                    Discharge
                                </mat-card-header>
                                <div class="p-4">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Discharge Date</mat-label>
                                        <input matInput [matDatepicker]="dispicker" [disabled]="disablevalue" #dgdate formControlName="dischargepicker">
                                        <mat-datepicker-toggle matSuffix [for]="dispicker"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #dispicker disabled="true"></mat-datepicker>
                                    </mat-form-field>


                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Status</mat-label>
                                        <mat-select formControlName="dischargespicker" [disabled]="disablevalue">
                                            <mat-option value='pending'>Pending </mat-option>
                                            <mat-option value='discharged'> Discharged </mat-option>
                                            <mat-option value='other'> Other </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Remarks</mat-label>
                                        <textarea matInput readonly formControlName="dischargerpicker" readonly></textarea>
                                    </mat-form-field>

                                </div>
                            </mat-card>
                        </div>
                    </div>

                    <div class="text-end">
                        <button mat-raised-button class="warning-button" matStepperPrevious>Back</button>
                        <button mat-raised-button class="login-button ml-4" (click)="save(stdate, fordate,etdate,dgdate)">Save</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="thirdFormGroup" *ngIf="!isolation">
                <ng-template matStepLabel>Isolation Duration</ng-template>
                <form [formGroup]="thirdFormGroup">
                    <div class="row">
                        <div class="col-lg-4 col-md-2 col-sm-12">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Start Date</mat-label>
                                <input matInput [matDatepicker]="isostartpicker" #sdate formControlName="isostartdate" (dateChange)="isolationdate($event, isostartpicker)">
                                <mat-datepicker-toggle matSuffix [for]="isostartpicker"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #isostartpicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-4 col-md-2 col-sm-12">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>End Date</mat-label>
                                <input matInput [matDatepicker]="isoendpicker" [disabled]="disablevalue" formControlName="isoenddate">
                                <mat-datepicker-toggle matSuffix [for]="isoendpicker"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #isoendpicker disabled="true"></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3 col-md-2 col-sm-12">
                            <mat-card class="quar">
                                <mat-card-header>
                                    Dr Call
                                </mat-card-header>
                                <div class="p-4">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Schedule Date</mat-label>
                                        <input matInput [matDatepicker]="drpicker" [disabled]="disablevalue" formControlName="drpicker">
                                        <mat-datepicker-toggle matSuffix [for]="drpicker"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #drpicker disabled="true"></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Called Date</mat-label>
                                        <input matInput [matDatepicker]="drspicker" [disabled]="disablevalue" formControlName="drspicker">
                                        <mat-datepicker-toggle matSuffix [for]="drspicker"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #drspicker disabled="true"></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </mat-card>
                        </div>

                        <div class="col-lg-3 col-md-2 col-sm-12">
                            <mat-card class="quar">
                                <mat-card-header>
                                    Tracker/Sticker Application
                                </mat-card-header>
                                <div class="p-4">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Schedule Date</mat-label>
                                        <input matInput [matDatepicker]="trapicker" [disabled]="disablevalue" formControlName="fourpicker" #fordate>
                                        <mat-datepicker-toggle matSuffix [for]="fourpicker"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #fourpicker disabled="true"></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Applied Date</mat-label>
                                        <input matInput [matDatepicker]="traapicker" [disabled]="disablevalue" formControlName="fourspicker">
                                        <mat-datepicker-toggle matSuffix [for]="fourspicker"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #fourspicker disabled="true"></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Result</mat-label>
                                        <mat-select formControlName="traresult" [disabled]="disablevalue">
                                            <mat-option value='positive'>Positive </mat-option>
                                            <mat-option value='negative'> Negative</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                </div>
                            </mat-card>
                        </div>

                        <div class="col-lg-3 col-md-2 col-sm-12">
                            <mat-card class="quar">
                                <mat-card-header>
                                    3 Day-Nurse Call
                                </mat-card-header>
                                <div class="p-4">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Schedule Date</mat-label>
                                        <input matInput [matDatepicker]="tdpicker" [disabled]="disablevalue" formControlName="eightpicker">
                                        <mat-datepicker-toggle matSuffix [for]="tdpicker"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #tdpicker disabled="true"></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Call Status</mat-label>
                                        <mat-select formControlName="callstatus" [disabled]="disablevalue">
                                            <mat-option value='called'>Called </mat-option>
                                            <mat-option value='pending'> Pending</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Remarks</mat-label>
                                        <textarea matInput readonly formControlName="drremark"></textarea>
                                    </mat-form-field>
                                </div>
                            </mat-card>
                        </div>


                        <div class="col-lg-3 col-md-2 col-sm-12">
                            <mat-card class="quar">
                                <mat-card-header>
                                    4 day Nurse Call
                                </mat-card-header>
                                <div class="p-4">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Schedule Date</mat-label>
                                        <input matInput [matDatepicker]="fppicker" #fourndate [disabled]="disablevalue" formControlName="fppicker">
                                        <mat-datepicker-toggle matSuffix [for]="fppicker"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #fppicker disabled="true"></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Call Status</mat-label>
                                        <mat-select formControlName="resultpcr" [disabled]="disablevalue">
                                            <mat-option value='called'>Called </mat-option>
                                            <mat-option value='pending'> Pending</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Remarks</mat-label>
                                        <textarea matInput readonly formControlName="fpspicker"></textarea>
                                    </mat-form-field>
                                </div>
                            </mat-card>
                        </div>

                        <div class="col-lg-3 col-md-2 col-sm-12">
                            <mat-card class="quar">
                                <mat-card-header>
                                    5 Day-Nurse Call
                                </mat-card-header>
                                <div class="p-4">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Schedule Date</mat-label>
                                        <input matInput [matDatepicker]="fivepicker" [disabled]="disablevalue" formControlName="fivepicker">
                                        <mat-datepicker-toggle matSuffix [for]="fivepicker"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #fivepicker disabled="true"></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Call Status</mat-label>
                                        <mat-select formControlName="fivestatus" [disabled]="disablevalue">
                                            <mat-option value='called'>Called </mat-option>
                                            <mat-option value='pending'> Pending</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Remarks</mat-label>
                                        <textarea matInput readonly formControlName="fiveremark"></textarea>
                                    </mat-form-field>
                                </div>
                            </mat-card>
                        </div>

                        <div class="col-lg-3 col-md-2 col-sm-12">
                            <mat-card class="quar">
                                <mat-card-header>
                                    6 Day-Nurse Call
                                </mat-card-header>
                                <div class="p-4">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Schedule Date</mat-label>
                                        <input matInput [matDatepicker]="sixpicker" [disabled]="disablevalue" formControlName="sixpicker">
                                        <mat-datepicker-toggle matSuffix [for]="sixpicker"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #sixpicker disabled="true"></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Call Status</mat-label>
                                        <mat-select formControlName="sixstatus" [disabled]="disablevalue">
                                            <mat-option value='called'>Called </mat-option>
                                            <mat-option value='pending'> Pending</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Remarks</mat-label>
                                        <textarea matInput readonly formControlName="sixremark"></textarea>
                                    </mat-form-field>
                                </div>
                            </mat-card>
                        </div>

                        <div class="col-lg-3 col-md-2 col-sm-12">
                            <mat-card class="quar">
                                <mat-card-header>
                                    7 Day-Nurse Call
                                </mat-card-header>
                                <div class="p-4">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Schedule Date</mat-label>
                                        <input matInput [matDatepicker]="sdpicker" [disabled]="disablevalue" formControlName="sdpicker">
                                        <mat-datepicker-toggle matSuffix [for]="sdpicker"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #sdpicker disabled="true"></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Call Status</mat-label>
                                        <mat-select formControlName="sevenstatus" [disabled]="disablevalue">
                                            <mat-option value='called'>Called </mat-option>
                                            <mat-option value='pending'> Pending</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Remarks</mat-label>
                                        <textarea matInput readonly formControlName="sevenremark"></textarea>
                                    </mat-form-field>
                                </div>
                            </mat-card>
                        </div>

                        <div class="col-lg-3 col-md-2 col-sm-12">
                            <mat-card class="quar">
                                <mat-card-header>
                                    8 day PCR
                                </mat-card-header>
                                <div class="p-4">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Schedule Date</mat-label>
                                        <input matInput [matDatepicker]="edppicker" #ninendate [disabled]="disablevalue" formControlName="edppicker">
                                        <mat-datepicker-toggle matSuffix [for]="edppicker"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #edppicker disabled="true"></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Sampled Date</mat-label>
                                        <input matInput [matDatepicker]="edcpicker" [disabled]="disablevalue" formControlName="edcpicker">
                                        <mat-datepicker-toggle matSuffix [for]="edcpicker"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #edcpicker disabled="true"></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Result 8 PCR</mat-label>
                                        <mat-select [disabled]="disablevalue" formControlName="eightresultpcr">
                                            <mat-option value='positive'>Positive </mat-option>
                                            <mat-option value='negative'> Negative</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                            </mat-card>
                        </div>

                        <div class="col-lg-3 col-md-2 col-sm-12">
                            <mat-card class="quar">
                                <mat-card-header>
                                    9 Day-Nurse Call
                                </mat-card-header>
                                <div class="p-4">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Schedule Date</mat-label>
                                        <input matInput [matDatepicker]="nnpicker" [disabled]="disablevalue" formControlName="nnpicker">
                                        <mat-datepicker-toggle matSuffix [for]="nnpicker"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi disabled="true" #nnpicker></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Call Status</mat-label>
                                        <mat-select formControlName="ninestatus" [disabled]="disablevalue">
                                            <mat-option value='called'>Called </mat-option>
                                            <mat-option value='pending'> Pending</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Remarks</mat-label>
                                        <textarea matInput readonly formControlName="nineremark"></textarea>
                                    </mat-form-field>
                                </div>
                            </mat-card>
                        </div>


                        <div class="col-lg-4 col-md-2 col-sm-12">
                            <mat-card class="quar">
                                <mat-card-header>
                                    Discharge
                                </mat-card-header>
                                <div class="p-4">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Discharge Date</mat-label>
                                        <input matInput [matDatepicker]="isodispicker" #dischargedate [disabled]="disablevalue" formControlName="isodispicker">
                                        <mat-datepicker-toggle matSuffix [for]="isodispicker"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #isodispicker disabled="true"></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Status</mat-label>
                                        <mat-select formControlName="dischargespicker" [disabled]="disablevalue" readonly>
                                            <mat-option value='pending'>Pending </mat-option>
                                            <mat-option value='discharged'> Discharged </mat-option>
                                            <mat-option value='other'> Other </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Remarks</mat-label>
                                        <textarea matInput readonly formControlName="dischargerpicker"></textarea>
                                    </mat-form-field>
                                </div>
                            </mat-card>
                        </div>
                    </div>

                    <div class="text-end">
                        <button mat-raised-button class="warning-button" matStepperPrevious>Back</button>
                        <!-- <button mat-raised-button class="login-button ml-4" (click)="stepper.reset()">Reset</button> -->
                        <button mat-raised-button class="login-button ml-4" (click)="issave(sdate,fourndate,ninendate,dischargedate)">Save</button>
                    </div>
                </form>
            </mat-step>
        </mat-horizontal-stepper>
    </mat-card>
</div>