/* Structure */

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

img {
    cursor: pointer;
    width: 30px;
}

th,
td {
    vertical-align: middle;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    padding-left: 24px !important;
    padding-right: 24px !important;
}

td.mat-cell,
td.mat-footer-cell {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

td {
    font-size: 13px;
}

tr.mat-row,
tr.mat-footer-row {
    height: 40px;
}

th.mat-header-cell {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
}

td.mat-cell {
    border-bottom-style: none !important;
    border-right: none !important;
}

.mat-row:nth-child(even) {
    background-color: #f4f6f8;
}

.mat-row:nth-child(odd) {
    background-color: #fff;
}

th.mat-header-cell {
    border-bottom-color: #fff;
}

.my_class {
    background-color: rgb(247, 194, 194) !important;
}

.my_class1 {
    background-color: rgb(247, 222, 156) !important;
}

.demo-table {
    width: 100%;
}

// .mat-column-id {
//     max-width: 54px;
//     padding-left: 5px !important;
//     padding-right: 5px !important;
// }
// .mat-column-requestCrmName {
//     max-width: 154px;
// }
// .mat-column-crmNo {
//     max-width: 154px;
// }
// // -----------------------------------------------------------------
// .mat-column-patientName {
//     max-width: 154px;
// }
// .mat-column-crmNo {
//     max-width: 154px;
// }
// .mat-column-crmNo {
//     max-width: 154px;
// }
// .mat-column-crmNo {
//     max-width: 154px;
// }
// .mat-column-crmNo {
//     max-width: 154px;
// }
// .mat-column-crmNo {
//     max-width: 154px;
// }
.remark-button {
    outline: 0;
    border: 1px solid #eee;
    padding: 8px;
    cursor: pointer;
}