/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
body {
    background: #f2f2f2;
}

.text-center {
    text-align: center;
}

.full-width {
    width: 100%;
}

.margin-auto {
    margin: auto;
}

.login-button {
    padding: 0px 3em !important;
    height: 40px;
}

.router-link-active {
    background: transparent;
}

.login-button,
.login-button-upload {
    background: #167f72;
    color: #fff;
}

.warning-button {
    padding: 0px 3em !important;
    height: 40px;
    background: #ffc107;
    color: #fff;
}

.ml-5,
.ml-4 {
    margin-left: 2rem !important;
}

.mr-5 {
    margin-right: 2rem !important;
}

.pt-5 {
    padding-top: 2rem !important;
}

.pl-5 {
    padding-left: 2rem !important;
}

.pr-5 {
    padding-right: 2rem !important;
}

.header {
    padding: 20px 25px;
    background: white;
    h3 {
        margin: auto;
        font-weight: bold;
        margin-top: 65px !important;
    }
}

// ScrollBar------------------------
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
    cursor: pointer;
    scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    cursor: pointer;
    scroll-behavior: smooth;
    background-color: rgba(80, 78, 78, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.151);
}

.cursor {
    cursor: pointer;
}

.example-container {
    height: 530px;
    overflow: auto;
    width: 100%;
    position: relative;
}

.example-table-container {
    position: relative;
}

.area {
    .autocomplete-container .input-container input {
        font-size: 14px;
        box-sizing: border-box;
        border: none;
        box-shadow: none;
        outline: 0;
        background-color: #fff;
        color: rgba(0, 0, 0, 0.87);
        width: 100%;
        padding: 0 15px;
        line-height: 40px;
        height: 51px !important;
    }
    .ng-autocomplete {
        width: 500px !important;
        height: 65px !important;
    }
    .autocomplete-container {
        box-shadow: none !important;
        position: relative;
        overflow: visible;
        height: 53px !important;
        border: 1px solid #ddd;
        border-radius: 2px;
    }
}

.ng-select .ng-select-container {
    border: 0px solid #ddd;
    border-bottom: 1px solid gray;
}