<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="assets/images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6 contents margin-auto">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="mb-4 text-center">
                            <h1>Sign In</h1>
                            <!-- <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p> -->
                        </div>

                        <div class="mt-5">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>User Name</mat-label>
                                <input matInput placeholder="Enter the user name" type="text">
                                <mat-icon matSuffix>person</mat-icon>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Password</mat-label>
                                <input matInput placeholder="Enter your password" type="password">
                                <mat-icon matSuffix>vpn_key</mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="text-center mt-4">
                            <button mat-raised-button color="primary" class="login-button" (click)="login()">Login</button>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>